APP_NAME=ProjectSims
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
# If you run tests from host machine, use localhost:5433
# If you run tests inside Docker app container, use db:5432
DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=sims_test
DB_USERNAME=project_user
DB_PASSWORD=change_me

BROADCAST_CONNECTION=null
CACHE_STORE=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array

PULSE_ENABLED=false
TELESCOPE_ENABLED=false
NIGHTWATCH_ENABLED=false
